{#
/**
 * @file
 * Default theme implementation for a select2 infinite element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - select2_options: The <option> element children.
 *
 * @see template_preprocess_select()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
    <select{{ attributes }}>
        {% for option in select2_options %}
            {% if option.type == 'optgroup' %}
                <optgroup label="{{ option.label }}">
                    {% for sub_option in option.options %}
                        <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
                    {% endfor %}
                </optgroup>
            {% elseif option.type == 'option' %}
                <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endapply %}
